<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h2>Edit Your Listing</h2>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" >
        <input type="text" name="listing[title]" value="<%= listing.title %>" >
        <br><br>
        <textarea type="text" name="listing[description]"><%= listing.description %></textarea>
        <br><br>
        <input type="text" name="listing[image]" value="<%= listing.image %>" >
        <br><br>
        <input type="text" name="listing[price]" value="<%= listing.price %>" >
        <br><br>
        <input type="text" name="listing[country]" value="<%= listing.country %>" >
        <br><br>
        <input type="text" name="listing[location]" value="<%= listing.location %>" >
        <br><br>
        <button>Add</button>


    </form>
</body>
</html>